<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <% status = task.completed ? "completed" : "incomplete" %>
    <li class=<%= status %>>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>
